.answer-card {
  border-radius: 10px;
  padding: 2px 5px;
  margin: 0;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #5d1049;
}
.answer-card > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.answer-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #d20046;
  margin: 2px;
}
.answers {
  border-radius: 10px;
  padding: 2px 5px;
  margin: 0;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #5d1049;
}
.answers p {
  margin: 3px;
}
.name {
  color: #d20046;
  font-weight: 700;
}
button {
  background-color: rgb(96 105 17 / 85%);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
