.show-players {
  width: auto;
  left: 0px;
  top: 0px
}
.player-card {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  margin-right: 2vw;
  min-width: 150px;
}

.none {
  display: none;
}
.absolute {
  position: absolute;
}

.current-player-card {
   border-radius: 50px;
  border: 5px solid #8fd46f;
   animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.015); }
  100% { transform: scale(1); }
}
.player-card:last-child {
  margin-bottom: 0;
}
.player-info {
  display: flex;
  flex-direction: row;
  padding: 7px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.player-name {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
    white-space: nowrap;

}
.player-score {
  font-size: 1em;
  font-weight: 700;
  color: #d20046cf;
  margin: 0;
  margin-left: 3px;
}
.player-controls {
  display: flex;
  align-items: center;
}
.score-btn {
  
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 1em;
  height: 20px;
  width: 20px;
}

.decrease {
  margin-right: 5px;
}
.increase {
  margin-left: 5px;
}
