.player-card {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.player-card:last-child {
    margin-bottom: 0;
}


.player-info {
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
}

.player-name {
    font-size: 1em;
    font-weight: bold;

    margin: 0;
}

.player-score {
    font-size: 0.95em;
    color: #d20046;
    margin: 0;
    margin-left: 3px;
}

.player-controls {
    display: flex;
    align-items: center;
}

.score-btn {
    background-color: #adbea5;
    padding: 3px 8px;
    border: none;
    border-radius: 50%;
    color: white;

    font-size: 1em;
}

.score-btn:hover {
    background-color: #039be5;
}

.decrease {
    margin-right: 10px;
}

.increase {
    margin-left: 10px;
}
