.question-comp {
  height: 100%;
  margin-left: 5vw;
}
.question-card {
  border-radius: 10px;
  padding: 2px 5px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #5d1049;
}

p {
  font-size: 1.1em;
  margin: 10px 2px;
}
.question-text {
  font-weight: bold;
  color: #d20046;
  margin: 2px;
}

.next-btn {
  background-color: rgb(96 105 17 / 85%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}
