.question-comp {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.question-card {
  border-radius: 15px;
  padding: 15px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.9);
}
p {
  font-size: 1.2em;
  margin: 10px 2px;
}
.question-text {
  font-weight: bold;
  color: #d20046;
  margin: 2px;
}
.next-btn {
  width: 80%;
  margin-left: auto;

}
