<div class="game-board">
  <div class="btn-cont">
    <!-- <button (click)="deletePlayers()">Törlés</button>
    <button (click)="backToLogin()">Vissza</button> -->
  </div>

  <div class="title">
    <h1>Csordaszellem</h1>
    <p>Ahol nem jó egyedinek lenni!</p>
  </div>
  <div class="component-container">
    <div class="p-q-container">
      <app-players></app-players>
      <app-question></app-question>
    </div>

    <app-answers></app-answers>

    <button class="navigate" (click)="showWritePage()">Válaszolj</button>
    <footer>
    <p>Made by <a href="https://github.com/ViktorMajor">Major Viktor</a></p>
  </footer>
  </div>
  
</div>
